<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Page</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
      }
      .form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 8px;
        width: 400px;
        background: #f0f0f0;
        margin-top: auto;
        margin-bottom: auto;
      }
      .form-container h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      label {
        font-size: 14px;
      }
      input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 300px;
      }
      button {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: fit-content;
        background-color: #007bff;
        color: white;
        cursor: pointer;
      }
      button:hover {
        background-color: #0056b3;
      }
      select {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <div class="form-container">
      <h1>Signup</h1>
      <form action="/user" method="POST">
        <label for="name">Full Name</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Enter your full name"
        />
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email"
        />
        <label for="role">Role</label>
        <select name="role" id="role">
          <option value="<%= userRoles.NORMAL %>"><%= userRoles.NORMAL %></option>
          <option value="<%= userRoles.ADMIN %>"><%= userRoles.ADMIN %></option>
        </select>
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter your password"
        />
        <button type="submit">Signup</button>
      </form>
    </div>
  </body>
</html>
